@model OSPI.Infrastructure.Models.PositionModel

@{
    ViewData["Title"] = "Create";
     Layout = "~/Views/Shared/_Layout_User_loggedIn.cshtml";
}

<h1>Create</h1>

<h4>PositionEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <select asp-for="ElectionID" class="form-control"
                        asp-items="ViewBag.Elections">
                    <option>Select Election</option>
                </select>
                <span asp-validation-for="ElectionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionName" class="control-label"></label>
                <input asp-for="PositionName" class="form-control" />
                <span asp-validation-for="PositionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredCandidates" class="control-label"></label>
                <input asp-for="RequiredCandidates" class="form-control" />
                <span asp-validation-for="RequiredCandidates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualifications" class="control-label"></label>
                <textarea asp-for="Qualifications" class="form-control"></textarea>
                <span asp-validation-for="Qualifications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

