@{
    ViewData["Title"] = "List of Bulletins";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}
@model OSPI.Infrastructure.Models.BulletinModel

<div class="row">
    <div class="col-lg-12">
        <div class="panel-default">

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">


                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">

                                    <img class="imagewidthforcaro" src="~/images/backgrounds/bg3.jpg" />
                                </div>

                                <div class="item">
                                    <img class="imagewidthforcaro" src="~/images/backgrounds/bg3ss.jpg" />

                                </div>

                                <div class="item">
                                    <img class="imagewidthforcaro" src="~/images/backgrounds/bg3ss.jpg" />
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>

                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>

                            </a>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">


                    <div class="col-lg-8">
                        <div class="panel panel-default">

                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-4"> <h4>  Bulletin Details</h4></div>
                                    <div class="col-sm-6"></div>

                                    <div class="col-sm-2">
                                        <a asp-action="#" role="button" class="btn btn-primary pull-right"><i class="fa fa-edit"> </i> Edit</a>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <b>
                                                @Html.DisplayNameFor(model => model.FullName):
                                            </b>
                                            @Html.DisplayFor(model => model.FullName)

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <b>
                                                @Html.DisplayNameFor(model => model.Description):
                                            </b>
                                            @Html.DisplayFor(model => model.Description)

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>   Training Calendar</h4>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                             
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>


                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>