################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OSPI.eVoting
/OSPI.Domain/obj/Debug/netcoreapp3.1/OSPI.Domain.csprojAssemblyReference.cache
