@model IEnumerable<OSPI.Infrastructure.Models.CandidateModel>

@{
    ViewData["Title"] = "Election";
    Layout = "~/Views/Shared/_Layout_User_loggedIn.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-12"> <h4>Election</h4></div>
                </div>
            </div>
            <div class="panel-body">
                <div id="myHeader1" class="col-lg-12">Board of Director</div>
                <div id="myBody1" class="col-lg-12">
                    <h4>INSTRUCTIONS: Select between 1 and 5 options from the list below. * Required</h4>
                    <h5>3 of 5 Selected</h5>
                    <img style="height: 100px; width: 100px;" src="~/images/team/pic1.jpg" />
                </div>
                <br />
                <button id="myButton2">ECOM</button>
                <div id="myPanel2" class="col-lg-12">
                    <img style="height: 100px; width: 100px;" src="~/images/team/pic2.jpg" />
                </div>
                <br />
                <button id="myButton3">President</button>
                <div id="myPanel3" class="col-lg-12">
                    <img style="height: 100px; width: 100px;" src="~/images/team/pic3.jpg" />
                </div>
                <br />
            </div>
                <!-- /.panel-body -->
            </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<script src="~/js/election.js"></script>