@model IEnumerable<OSPI.Voting.Controllers.Company>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_User_loggedIn.cshtml";
}


<br />
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4"> <h4>Elections Dashboard</h4></div>
                    <div class="col-sm-6"></div>
                </div>

            </div>
            <div class="panel-body">

                @foreach (var item in Model)
                {
                <div class="section">
                    <h5><b>INSTRUCTIONS:</b> Select between <label id="chkCount" class="countermin">0</label> and<label class="countermax">5</label> options from the list below. <label style="color:red">* Required</label></h5>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <h5><b>@Html.DisplayFor(modelItem => item.CompanyName)</b></h5>
                            </div>
                        </div>
                    </div>

                    @foreach (var emp in item.Emp)
                    {

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-sm-1"><input type="checkbox" class="chk_@item.ID"></div>

                                    <div class="col-sm-2"> <img src="https://localhost:44363/images/MemberImage/default.png" style="width:70px"></div>
                                    <div class="col-sm-3">@emp.Name </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    }

                </div>
                }
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<script>
    $(function () {
         $('input[type="checkbox"]').click(function () {

        var className = this.className;
        var tolatCheckbox = $('.' + className + ':checked').length;
        if (tolatCheckbox > 5) {
            alert('Select only five candidate.');
            return false;
        } else {
             
            $(this).closest(".section").find('#chkCount').html(tolatCheckbox);
        }
    })
    })
</script>