@model OSPI.Infrastructure.Models.CandidateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout_User_loggedIn.cshtml";
}

<br />

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4"> <h4>Nominate Candidate</h4></div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">
                        <div class="row">

                            <i class="fa fa-arrow-circle-left"></i>  <a asp-action="Nomination">Back to Nomination Dashboard</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="PositionName" class="control-label"></label>
                                <select asp-for="PositionId" class="form-control"
                                        asp-items="ViewBag.Positions">
                                    <option>Select Position</option>
                                </select>
                                <span asp-validation-for="PositionId" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="CandidateFullName" class="control-label"></label>
                                <select asp-for="CandidateMemberId" class="form-control"
                                        asp-items="ViewBag.Members">
                                    <option>Select Candidate</option>
                                </select>
                                <span asp-validation-for="CandidateMemberId" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>


                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">

                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary pull-right" />
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
