@model OSPI.Infrastructure.Models.MemberModel;

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout_User_loggedIn.cshtml";
}
 

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <h3 style="color:rebeccapurple">@ViewBag.Message</h3>
}

<br />

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4"> <h4>Edit Member</h4></div>
                    <div class="col-sm-4"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2">
                        <div class="row">

                            <i class="fa fa-arrow-circle-left"></i>  <a asp-action="index">Back to  Member List</a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="MemberId" />
                    <input type="hidden" asp-for="RowVersion" />
                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="MemberNo" class="control-label"></label>
                                <input asp-for="MemberNo" class="form-control " />
                                <span asp-validation-for="MemberNo" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>File input</label>
                                <input type="file">
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input type="text" asp-for="FirstName" class="form-control " />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>

                        </div>

                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="MiddleName" class="control-label"></label>
                                <input type="text" asp-for="MiddleName" class="form-control " />
                                <span asp-validation-for="MiddleName" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="LastName" class="control-label"></label>
                                <input type="text" asp-for="LastName" class="form-control " />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                        </div>

                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="BirthDate" class="control-label"></label>
                                <input asp-for="BirthDate" class="form-control " />
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="HomeAddress" class="control-label"></label>
                                <input type="text" asp-for="HomeAddress" class="form-control" />
                                <span asp-validation-for="HomeAddress" class="text-danger"></span>
                            </div>

                        </div>

                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="EmailAddress" class="control-label"></label>
                                <input type="text" asp-for="EmailAddress" class="form-control " />
                                <span asp-validation-for="EmailAddress" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->

                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="PhoneNo" class="control-label"></label>
                                <input type="text" asp-for="PhoneNo" class="form-control " />
                                <span asp-validation-for="PhoneNo" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="AccountNo" class="control-label"></label>
                                <input type="text" asp-for="AccountNo" class="form-control " />
                                <span asp-validation-for="AccountNo" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="CreditStatus" class="control-label"></label>
                                @Html.DropDownListFor(model => model.CreditStatus, new SelectList(ViewBag.CreditStatus), new { @class = "form-control" })
                                <span asp-validation-for="CreditStatus" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="MemberStatus" class="control-label"></label>
                                @Html.DropDownListFor(model => model.MemberStatus, new SelectList(ViewBag.MemberStatus), new { @class = "form-control" })
                                <span asp-validation-for="MemberStatus" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="RegistrationDate" class="control-label"></label>
                                <input asp-for="RegistrationDate" class="form-control " />
                                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="DateHired" class="control-label"></label>
                                <input asp-for="DateHired" class="form-control " />
                                <span asp-validation-for="DateHired" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="Salary" class="control-label"></label>
                                <input type="text" asp-for="Salary" class="form-control " />
                                <span asp-validation-for="Salary" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="Capital" class="control-label"></label>
                                <input type="text" asp-for="Capital" class="form-control " />
                                <span asp-validation-for="Capital" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="RoleName" class="control-label"></label>
                                <select asp-for="RoleId" class="form-control"
                                        asp-items="ViewBag.Roles">
                                    <option>Select Role</option>
                                </select>
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">

                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input type="text" asp-for="Password" class="form-control " />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group">

                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary pull-right" />
                            </div>

                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                </form>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
